name: build-release-task-commander-backend

on: [workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            #Checkout default repo (task-commander-backend) 
            - name: Git Checkout
              uses: actions/checkout@v4
              with:
                repository: grossj0816/task-commander-backend
                path: main-repo
  
            # Checkout API GW Module
            - name: Git Checkout Terraform Modules
              uses: actions/checkout@v4
              with:
                repository: grossj0816/terraform-modules
                path: secondary-repo

            # Move the terraform module in terraform source dir.
            - name: Move Terraform Module
              run: |
                pwd; ls -la
                mv secondary-repo/gw-method-and-intg-resources  main-repo/task-cmndr-backend/terraform

            # LS "main-repo" after gw-method-and-intg-resources dir move
            - name: List Contents From MAIN-REPO (AFTER)
              working-directory: ./main-repo
              run: pwd; ls -la task-cmndr-backend/terraform

            # Setup Python
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'

            # Install AWS CLI
            - name: Install AWS CLI
              run: pip install awscli

            # Install Terraform
            - name: Install Terraform
              uses: hashicorp/setup-terraform@v3

            # Configure AWS
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ vars.AWS_REGION }}

            # Install Lambda Dependencies
            - name: Install Dependencies
              working-directory: ./main-repo/task-cmndr-backend/lambdas
              run: pip install --target ./package boto3 mysql-connector-python


            # Package Lambdas
            - name: Package code
              working-directory: ./main-repo/task-cmndr-backend/lambdas
              run: |
                cd package
                zip -r ../lambdas.zip .
                cd ..
                zip lambdas.zip *.py
                pwd; ls -la
                unzip -l lambdas.zip

              # Copy lambda zip to S3 TODO: ALWAYS COMMENT THIS BLOCK OUT ON INITIAL RUN OF APIS. THEN BRING IT BACK!
            - name: Copy lambdas to S3
              working-directory: ./main-repo/task-cmndr-backend/lambdas
              run: |
                pwd; ls -la
                aws s3 ls s3://tu-api-lambda-deploys/task_cmndr_app/
                aws s3 cp --quiet lambdas.zip s3://tu-api-lambda-deploys/task_cmndr_app/lambdas.zip
              env:
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}  
                AWS_DEFAULT_REGION: ${{ vars.AWS_REGION }}
  
            # Deploy AWS Resources
            - name: Deploy Terraform
              working-directory: ./main-repo/task-cmndr-backend/terraform
              run: |
                 rm -fr terraform.tfstate || echo 'DOES NOT EXIST'
                 terraform init -upgrade -input=false
                 terraform plan
                 terraform workspace new ${GITHUB_REF##*/} || echo 'ALREADY EXISTS'
                 terraform workspace select ${GITHUB_REF##*/} && terraform apply -input=false -auto-approve