name: destroy-task-commander-backend

on: [workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            #Checkout default repo (task-commander-backend) 
            - name: Git Checkout
              uses: actions/checkout@v4
              with:
                repository: grossj0816/task-commander-backend
                path: main-repo
            
            # Checkout API GW Module
            - name: Git Checkout Terraform Modules
              uses: actions/checkout@v4
              with:
                repository: grossj0816/terraform-modules
                path: secondary-repo

            # Move the terraform module in terraform source dir.
            - name: Move Terraform Module
              run: |
                pwd; ls -la
                mv secondary-repo/gw-method-and-intg-resources  main-repo/task-cmndr-backend/terraform

            # LS "main-repo" after gw-method-and-intg-resources dir move
            - name: List Contents From MAIN-REPO (AFTER)
              working-directory: ./main-repo
              run: pwd; ls -la task-cmndr-backend/terraform

            # INSTALL AWS CLI
            - name: Install AWS CLI
              run: pip install awscli

            # INSTALL TERRAFORM
            - name: Install Terraform
              uses: hashicorp/setup-terraform@v3

            # CONFIG AWS
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ vars.AWS_REGION }}

            # DEPLOY TO AWS
            - name: Destroy Terraform
              working-directory:  ./main-repo/task-cmndr-backend/terraform
              run: |
                 rm -fr terraform.tfstate || echo 'DOES NOT EXIST'
                 terraform init -input=false
                 terraform workspace new ${GITHUB_REF##*/} || echo 'ALREADY EXISTS'
                 terraform workspace select ${GITHUB_REF##*/} && terraform destroy -input=false -auto-approve